/*  Skills Body  */

.skillsbodysection {
  height: 55vmax;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vmax;
  flex-wrap: wrap;
}
.skillcolordiv {
  height: 18vmax;
  width: 13vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(255, 255, 255, 0.053);
  align-items: center;
  border-radius: 3vmax;
  box-shadow:inset 0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
  overflow:hidden;
}
@media(max-width:600px)
{
  .skillsbodysection{
    height: 90vmax;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5vmax;
  }
  .skillcolordiv{
    width:45vmax;
    height: 8vmax;
    }
}


.educationcolor{
  font-weight: bolder;
  width: 1.5vmax;
  height: 1.5vmax;
  border-radius: 50%;
  box-shadow:inset 0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
}
@media(max-width:600px){
  .educationcolor{
   height: 2vmax;
   width:2vmax;
  }
}
.green{
  background-color:rgba(63, 227, 85, 0.775) ;
}
.orange{
  background-color:rgba(205, 227, 63, 0.775) ;
}
.red{
  background-color:rgba(227, 118, 63, 0.775) ;
}

.colorlist {
  height: 12vmax;
  width: 10vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* skills color class*/
.colorclass{
  background: rgb(196, 228, 253);
  color: rgb(58, 2, 110);
  height: 2.7vmax;
  width: 8vmax;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  align-items: center;
  padding:0 1vmax 0 1vmax;
  border-radius: 20vmax;
  box-shadow:0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
  overflow: hidden;
}



.skillselements {
  height: 35vmax;
  width: 35vmax;
  background:rgba(255, 255, 255, 0.053);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3vmax;
  text-align: center;
  box-shadow:inset 0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
  overflow: hidden;
}

.skillsdiv{
  background: rgb(196, 228, 253);
  height: 3.5vmax;
  width: 40%;
  margin-top: 2.5vmax;
  display: flex;
  font-size: 1.5vmax;
  justify-content: center;
  align-items: center;
  border-radius: 20vmax;
  box-shadow:0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
 
}
.skillsdiv p{
  color: rgb(58, 2, 110);
  font-weight: bolder;
}

.skillslist {
  width: 27vmax;
  height: 30vmax;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media(max-width:600px)
{
  .colorclass{
    height: 3.5vmax;
    width: 11vmax;
    font-size: 1.3vmax;
  }
.skillselements{
  height: 40vmax;
  width: 40vmax;
}
.skillslist{
  height: 35vmax;
  width: 35vmax;
}
}


.list1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10vmax;
  height: 26vmax;
}
.list1{
  animation-name: slidelist1;
  animation-duration: 4s;
}

@keyframes slidelist1{
  0%{
    transform: translateX(-15vmax);
  }
  100%{
    transform: translatex(0vmax);
  }
}


.list2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10vmax;
  height: 26vmax;
  align-items: center;
}
.list2{
  animation-name: slidelist2;
  animation-duration: 4s;
}
@keyframes slidelist2 {
  0%{
    transform: translateX(15vmax);
  }
  100%{
    transform: translatex(0vmax);
  }
}
#Advance{
  animation-name:Advance;
  animation-duration: 4s;
}
@keyframes Advance{
  0%{
    transform: translatey(-10vmax);
  }
  100%{
    transform: translatey(0px);
  }
}
#Intermediate{
  animation-name:Intermediate;
  animation-duration: 4s;
}
@keyframes Intermediate{
  0%{
    transform: translatex(-15vmax);
  }
  100%{
    transform: translatex(0px);
  }
}
#Basic{
  animation-name:Basic;
  animation-duration: 4s;
}
@keyframes Basic
{
  0%{
    transform: translatey(10vmax);
  }
  100%{
    transform: translatey(0px);
  }
}
@media(max-width:600px){
  #Advance{
    animation-name:Advance;
    animation-duration: 4s;
  }
  @keyframes Advance{
    0%{
      transform: translatex(-20vmax);
    }
    100%{
      transform: translatex(0px);
    }
  }
  #Intermediate{
    animation-name:Intermediate;
    animation-duration: 4s;
  }
  @keyframes Intermediate{
    0%{
      transform: translatey(10vmax);
    }
    100%{
      transform: translatey(0px);
    }
  }
  #Basic{
    animation-name:Basic;
    animation-duration: 4s;
  }
  @keyframes Basic
  {
    0%{
      transform: translatex(20vmax);
    }
    100%{
      transform: translatex(0px);
    }
  }
}

.skillsdiv{
  animation-name: skillsdiv;
  animation-duration: 3s;
}
@keyframes skillsdiv{
  0%{
    transform: translatey(35vmax);
  }
  100%{
    transform: translatey(0vmax);
}
}

@media(max-width:600px)
{
.colorlist{
  flex-direction: row;
  height: 7vmax;
  width:93%;
  padding:0;
  flex-direction: row;
  align-items: center;
}
.list1{
  width: 15vmax;
}
.list2{
  width: 15vmax;
}
@keyframes slidelist2 {
  0%{
    transform: translateX(20vmax);
  }
  100%{
    transform: translatex(0vmax);
  }
}
@keyframes slidelist1 {
  0%{
    transform: translateX(-20vmax);
  }
  100%{
    transform: translatex(0vmax);
  }
}
.skillsdiv{
  height: 5vmax;
  font-size: 2vmax;
}
@keyframes skillsdiv{
  0%{
    transform: translatey(40vmax);
  }
  100%{
    transform: translatey(0vmax);
}
}
}


/*Education*/

.eduheadsection{
  height: 5vmax;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}


.Educationheading{
  display: flex;
  font-size: 1.5vmax;
  height: 4vmax;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(4, 4, 4, 0.188);
  box-shadow:0vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
}

.Educationsection{
width:100%;
height:50vmax;
display: flex;
flex-direction:row;
justify-content: space-evenly;
align-items: center;
overflow: hidden;
flex-wrap: wrap;
}
.educlassdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient( to top right , rgba(0, 0, 0, 0.14), rgba(146, 145, 146, 0.106) );
    
    height:30vmax;
    width:20vmax;
    box-shadow:inset 0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
    overflow: hidden;
    border-radius: 1vmax 1vmax 1vmax 1vmax;
  }

@media(max-width:600px)
{
  
}
/*college*/


.clgimgsrc{
  height:12vmax;
  width: 12vmax;
  border-radius:200px;
  object-fit: cover;
  box-shadow:0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
}
.clginfo{
  font-size: 0.9vmax;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 3vmax;
}
.Tcilist li{
  list-style: disc;
  color: rgb(255, 255, 255);
font-weight: bold;
}


@media(max-width:600px){
  .Educationsection{
    height:100vmax;
    flex-direction: column;
  }
  .educlassdiv{
    flex-direction: row;
    width: 40vmax;
    height: 20vmax;
    background: rgb(196, 228, 253);
  }

  .Tcilist li{
font-size: 1.3vmax;
color: rgb(58, 2, 110);
font-weight: bold;
  }

  }