
/*    Column   */
.columndiv {
    background-size: cover;
    height: 55vmax;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}



/*  profile  */

.profilediv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vmax;
    width: 30vmax;
    background:rgba(255, 255, 255, 0.137);
    box-shadow:inset 0.4vmax -0.4vmax 0.4vmax rgba(0, 0, 0, 0.664);
    animation-name: proanim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2;
    overflow: hidden;
    background-image: url("/Portfolio Web/Images/Harsh.png");
    background-size: cover;
}

@keyframes proanim {
    0%
    {
        border-radius: 50% 50% 50% 50% /50% 50% 50% 50%  ;
    
    }
    25%{
        border-radius:48% 52% 61% 39% / 30% 36% 64% 70% ;
     
    }
    50%{
        border-radius:61% 39% 54% 46% / 46% 56% 44% 54%  ; 
         
    }
    75%{
        border-radius:39% 61% 41% 59% / 59% 48% 52% 41%  ;
         
    }
    100%{
        border-radius: 50% 50% 50% 50% /50% 50% 50% 50%;
         
    }
}


 /*  animation and icon */
 .animborder{
    height: 20vmax;
    width:30vmax;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
    box-shadow:inset 0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
    border-radius:2vmax;
    margin: 2.5vmax 2.5vmax 0 0;
    
 }
 

 .animicondiv{
    height: 21vmax;
    width:31vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius:2vmax;
    position: relative;
    box-shadow:0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
    animation-name:animconslide;
    animation-duration: 1.5s;
    animation-timing-function:ease-in;
    animation-iteration-count: 1;
    background-image: linear-gradient( to top right , rgb(124,89,104), rgb(94,88,117) );
    top:-1.5vmax;
    right: -1.5vmax;
    
    }
@keyframes animconslide{
    0%{
        top:0vmax;
    right: 0vmax;
    height: 20.1vmax;
    width:30.1vmax;
    box-shadow:0.0vmax -0.0vmax 0.0vmax rgba(0, 0, 0, 0.664);
    }
    0%{
        top:0vmax;
    right: 0vmax;
    height: 20.1vmax;
    width:30.1vmax;
    box-shadow:0.0vmax -0.0vmax 0.0vmax rgba(0, 0, 0, 0.664);
    }
   100%{
        
    top:-1.5vmax;
    right: -1.5vmax;
        box-shadow:0.3vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
        
    }
    
    
}
    

/*  Text Animation   */
.animdiv{
    height:9vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.animhead p {
    font-size: 2.7vmax;
    width: 10vmax;
    text-shadow:inset 5px -5px 5px rgba(0, 0, 0, 0.534);
    color: rgba(255, 255, 255, 0.667);
    font-family: none;
}


.animtextdiv {
    height: 5vmax;
    width: 22.5vmax;
    background:rgb(145,131,147);
    justify-content: center;
    align-items: start;
    border-radius: 50px;
    overflow: hidden;
    box-shadow:inset 0.4vmax -0.4vmax 0.4vmax rgba(0, 0, 0, 0.664);
}


.animlist{
    font-size: 2.5vmax;
    letter-spacing: 1px;
    height: 3.5vmax;
    width: 20vmax;
    margin: 0.1vmax 0 0 1.5vmax ;
    overflow: hidden;
}
.animlist li{
    position: relative;
    top:0%;
    line-height: 4.7vmax;
    animation: slide 6s steps(3) infinite;
}
@keyframes slide {

    100%{
        top:-13.9vmax;
        }
}

.animlist li span{
    position: relative;
}
.animlist li span::after { 
    content: "";
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
    margin-top: 0.8vmax;
    background:rgb(145,131,147);
    border-left: 0.2vmax solid rgba(255, 255, 255, 0.746);
    animation: typing 2s steps(10) infinite;
}
@keyframes typing {

    100%{
        left: 100%;
        margin: 0.8vmax 0 0 2.5vmax;
}
}


/* iconbox   */

.iconbox{
    height: 5vmax;
    width:22.5vmax ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconbox ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.iconbox ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vmax;
    height: 6vmax;
    font-size: 5vmax;
    padding: 0.5vmax;
}



/*   Introduction   */



.introheadsection{
    height: 5vmax;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  
  .introheading{
    display: flex;
    font-size: 1.5vmax;
    height: 4vmax;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(4, 4, 4, 0.188);
    box-shadow:0vmax -0.3vmax 0.6vmax rgba(0, 0, 0, 0.664);
  }

.introdiv {
    width: 100%;
    height: 50vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.introbody {
    height: 40vmax;
    width: 60vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introtext {
    display: flex;
    flex-wrap: wrap;
    font-size:1.1vmax;
    word-spacing: 0.5vmax;
    width: 80%;
    height: 70%;
    justify-content: center;
    background:rgba(131, 118, 133, 0.651);
    align-items: center;
    text-align: center;
    line-height: 2vmax;
    box-shadow:0.4vmax -0.4vmax 0.3vmax rgba(0, 0, 0, 0.664);
    border-radius: 0 10vmax 0 10vmax;
}
.introtext p{
    color: rgb(255, 255, 255);
}

.spanclr{
    color: rgb(58, 255, 202);
}
@media (max-width:800px){
    .columndiv{
        height:95vmax;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }
        .profilediv{
            margin-top: 10vmax;
        }
        .introdiv{
            height: 9vmax;
            
        }
        .introbody{
       width: 85%;
       
        }
        
        .introtext{
            height: 40vmax;
            width:50vmax;
            padding:2vmax;
            font-size: 1.5vmax;
            text-align: center;
            line-height: 3vmax;
        }
    }

